# Ignore Git and Environment secrets
.git
.env
.vscode

# Ignore ALL node_modules from everywhere
node_modules
server/node_modules
client/node_modules
fastapi-backend/venv
fastapi-backend/__pycache__

# Ignore build artifacts
client/dist
server/dist