fastapi
uvicorn[standard]
python-multipart
requests
python-dotenv
pydantic
pydantic-settings
langchain
langchain-core
langchain-groq
langchain-community
langchain-google-genai
google-generativeai
duckduckgo-search
Pillow
pinecone-client