fastapi
uvicorn[standard]
python-multipart
requests
python-dotenv
pydantic
pydantic-settings
langchain
langchain-core
langchain-groq
langchain-community
langchain-google-genai
langchain-google-community
google-generativeai
google-api-python-client
duckduckgo-search>=5.0.0
Pillow
langchain-pinecone
pinecone-client
groq